.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
    padding: 10px;
}

@media(max-width: 767px) {
    .form {
        grid-template-columns: 1fr;
    }
}

.form__field {
    padding: 10px;
    border: 2px solid #ddd;
}

.form__submit {
    padding: 10px;
    background-color: teal;
    color: white;
    border: none;
    transition: 0.5s;
}

.form__submit:hover {
    background-color: hsl(180, 100%, 30%);
    transform: scale(1.1);
}

.form__submit:active {
    background-color: hsl(180, 100%, 35%);
}