.tasks {
    margin: 0;
    padding: 0;
    list-style: none;
}

.tasks__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid #eee;
    grid-gap: 20px;
}

.tasks__item--special {
    text-decoration: line-through;
}

.tasks__item--hidden {
    display: none;
}

.tasks__button {
    color: white;
    border: none;
    width: 30px;
    height: 30px;
    transition: 0.5s;
}

.tasks__button--remove {
    background-color: hsl(0, 100%, 40%);
}

.tasks__button--remove:hover {
    background-color: hsl(0, 100%, 60%);
}

.tasks__button--toggleTask {
    background-color: hsl(120, 100%, 25%);
}

.tasks__button--toggleTask:hover {
    background-color: hsl(120, 100%, 35%);
}